<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
    body{
      margin: 0;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.05;
      background-color: #e5e5e5;
      font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    .box-wrapper{
      background-color: #e5e5e5;
      padding: 20px 5%;
    }
    .box-wrapper .box{
      margin: auto;
      width: 90%;
      min-height: 100px;
      background-color: white;
      padding: 10px;
      border-radius: 5px;
      font-size: 1.1rem;
    }
    .footer{
      font-size: .75rem;
      color: #797979;
      text-align: center;
      margin-top: 15px;
    }
    .footer a, .footer a:hover{
      color: #797979;
    }
    </style>
  </head>
  <body>
    <div class='box-wrapper'>
      <div class='box'>
        {{text}}
        <br>
      </div>
      <div class='footer'>This message was sent using <a href='http://josuerz.xyz/I-send-you-email-front/'>I-send-you-email-front</a></div>
    </div>

  </body>
</html>
